.conferenc_section{
    background-image: var(--write-section-backgraund-image);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 40px;
    z-index: -30;
    -webkit-box-shadow: 2px 13px 18px -14px rgba(34, 60, 80, 0.14) inset;
    -moz-box-shadow: 2px 13px 18px -14px rgba(34, 60, 80, 0.14) inset;
    box-shadow: 2px 13px 18px -14px rgba(34, 60, 80, 0.14) inset;
    padding-top: 80px;
}
.code_and_videos_box{
    width: 77rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 7rem;
}
.conferenc_section h2{
  color: var(--title-color);
    margin-top: 20px;
    font-size: 52px;
    width: 36rem;
}


.conferenc_section > .h2div{
    width: 36rem;
    justify-content: center;
    text-align: center;
    color: #203844;
    font-weight: 800;
}

.pdiv,p{
    max-width: 830px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 0.06em;
    line-height: 1.5;


}

.pdiv span{
    background-color: var(  --span-color);
    border-radius: 10px;
    padding: 4px;
}
.text_and_button{
    display: grid;
    justify-content: center;
    align-items: center;
}

/*  */
.button-block{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.hover-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    gap: 10px;
    padding-top: .625rem;
    padding-bottom: .625rem;
    background-image: var(--write-section-backgraund-image);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    box-shadow: inset 0 0 0 1px #d9dbe3;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition:  background-image 2.3s ease; 
}

.hover-button:hover {
    background-color: #d9dbe313; 
    background-image: none; 

}

.hover-button .arrow {
    transition: all 0.3s ease;
}


.hover-button:hover .arrow {
    transform: translateX(10px);
}

.hover-button .text {
    font-weight: 700;
    font-size: 17px;
    color: var(--background-image-card);
}