.community-container{
    display: flex;
    margin-top: 70px;
}

.community-container {
    display: flex; 
}

.community-left-box {
    width: 23%; 
}

.community-box {
    width: 58%; 
}

.community-right-box {
    width: 23%; 
}